<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<%= require('../components/header.ejs')() %>

<div style="color: red;">
  模板 a aa
</div>
<ul>
  <% for(var i = 0; i < 10; i++) { %>
  <li>item<%= i %></li>
  <% } %>
</ul>




<%= require('../components/footer.ejs')() %>

</body>
</html>