<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<%= require('../components/header.ejs')() %>

<div style="color: red;">
  模板 a aa
</div>

<%= require('../components/footer.ejs')() %>

</body>
</html>